---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Michelle Bakels">
	<main>
		<h1 class="text-gradient">Michelle Bakels</h1>
		<p class="instructions">
			- South Florida software developer
			<br/>
			- Co-organizer of <a target="_blank" href="https://www.reactmiami.com/">React Miami</a> 
			<br/>
			- Chair of the South Florida Tech Hub Foundation
			<br/>
			- <a target="_blank" href="https://www.weare1909.org/">1909</a> Board Member
			<br/>
			- <a target="_blank" href="https://t.co/3tBX5gqgsZ">Developer DAO</a> member
			<br/>
			- Forever the biggest <a target="_blank" href="https://www.intermiamicf.com/">InterMiami CF</a> fan
			<br/><br/>
			along with doing a lot of other cool things in my local tech community.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.reactmiami.com/"
				title="React Miami"
				body="The ultimate React software developers conference in Miami."
			/>
			<Card
				href="mailto:michelle.bakels@gmail.com"
				title="Email"
				body="michelle.bakels@gmail.com (No need to be too formal)"
			/>
			<Card
				href="https://twitter.com/MichelleBakels"
				title="Twitter"
				body="All things developer health, community, events, and more."
			/>
			<Card
				href="https://www.linkedin.com/in/michelle-bakels-2052687a/"
				title="LinkedIn"
				body="Let's connect!"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
